<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="../../static/img/BUPT.ico" type="image/x-icon"/>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="../../static/CSS/changePwd.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/CSS/changePwd.css') }}">
    <!-- <link rel="stylesheet" href="../../static/lib/layui/css/layui.css"> -->
    <title>忘记密码</title>
</head>

<body background="../../static/img/background4.jpg"
style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
    <div class="container">
        <div class="header">
            <header>重置密码</header>
        </div>
        <div class="content">
            <form>
                <input class="inp" id="id" type="text" name="id" value="" placeholder="账号">
                <br>
                <br>
                <input class="inp" id="newpwd1" type="text" name="verificationCode" value="" placeholder="验证码">
                <br>
                <br>
                <input class="inp" id="newpwd2" type="password" name="newpwd2" value="" placeholder="新的密码">
                <br>
                <br>
                <input class="inp" id="newpwd1" type="password" name="newpwd1" value="" placeholder="确定新密码">
                <br>
                <br>
                <input class="sub" type="button" style="cursor:pointer" id="submit" value="确认"/>
                <!-- <button  type="button" class="layui-btn" lay-submit="" lay-filter="sreach" id="submit" onclick>
                    <i style="width:200px">vkdw</i>
                </button> -->
                <br>
                <br>
                <!-- <input class="back" type="button" style="cursor:pointer" value="返回"/> -->
                <!-- <button class="back" type="button" onclick="window.location.href='./logIn.html'">返回</button> -->
                <br>
                <br>
                <br>
            </form>
        </div>
    </div>
    <script>
        // document.querySelector('.back').onclick = () => {
        //     location.href = './logIn.html'
        // }
        document.querySelector('#submit').onclick = () => {
            let id = document.querySelector('#id').value
            let newpwd1 = document.querySelector('#newpwd1').value
            let newpwd2 = document.querySelector('#newpwd2').value
            let verificationCode = document.querySelector('#verificationCode').value
            if (id === '') {
                alert('账号不能为空')
            } else if(verificationCode !== 'abcd'){
                alert('验证码错误')
            }else if (newpwd2 == '') {
                alert('密码不能为空')
            } else if (newpwd1 !== newpwd2) {
                alert('两次密码不一致')
            } else {
                let requireData = {
                    'type': 'changepwd', 'id': id, 'newpwd': newpwd1
                }

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "http://127.0.0.1:5000/user", true);
                xhr.setRequestHeader('content-type', 'application/json');

                //将用户输入值序列化成字符串
                xhr.send(JSON.stringify(requireData));
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log(JSON.stringify(requireData))
                        //根据服务器的响应内容格式处理响应结果
                        var res = JSON.parse(xhr.responseText);
                        console.log(xhr.responseText);
                        console.log(res)
                        if (res.status === 0) {
                            console.log(res.result[0])
                            localStorage.setItem('workerId', res.result[0])
                            localStorage.setItem('fName', res.result[1])
                            localStorage.setItem('lName', res.result[2])
                            localStorage.setItem('doB', res.result[3])
                            localStorage.setItem('gender', res.result[4])
                            localStorage.setItem('pwd', res.result[5])
                            localStorage.setItem('managerId', res.result[6])
                            alert('重置成功')
                            // location.href = '../records'
                        } else if (body.status === 102) {
                            alert('用户不存在')
                        } else {
                            alert('重置失败')
                        }
                    } else {
                        alert('重置失败')
                    }
                }

                // fetch('http://127.0.0.1:5000/user', {
                //     method: 'post',
                //     body: JSON.stringify(requireData)
                // }).then(res => {
                //     let body = JSON.parse(res.body)
                //     if (body.status === 0) {
                //         let data = body.result
                //         localStorage.setItem(workerId, data.workerId)
                //         localStorage.setItem(fName, data.fName)
                //         localStorage.setItem(lName, data.lName)
                //         localStorage.setItem(doB, data.doB)
                //         localStorage.setItem(gender, data.gender)
                //         localStorage.setItem(pwd, data.pwd)
                //         localStorage.setItem(managerId, data.managerId)
                //         location.href = '../records/index.html'
                //     } else if (body.status === 102) {
                //         alert('用户不存在')
                //     } else {
                //         alert('重置失败')
                //     }
                // }).catch(e => {
                //     alert('重置失败')
                // })
            }
        }
    </script>
</body>

</html>