<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>货物比例</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <!-- <meta http-equiv="Cache-Control" content="no-siteapp" /> -->

        <link rel="stylesheet" href="../../static/CSS/ratio.css">
        <link rel="stylesheet" href="../../static/CSS/layui/font.css">
        <link rel="stylesheet" href="../../static/CSS/layui/xadmin.css">
        <link rel="stylesheet" href="../../static/CSS/homepage.css">
        <script src="../../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <!-- <a> -->
                                欢迎您的使用!  当前时间为：
                                <button id="datetime" style="font-size: medium; color: black ;background-color:rgba(1,1,1,0);border:none;width:150px" disabled>
                                <script>setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);</script>
                                </button>
                                <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:-4px;float:right" onclick="location.reload()" title="刷新">
                                    <i class="layui-icon layui-icon-refresh" style="line-height:30px; top:50%; margin:auto;"></i>
                                </a>
                            <!-- </a> -->
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>仓库数</h3>
                                        <p>
                                            <cite>
                                                <input class="inp" id="user" name="username" value="" placeholder='9' style="background-color:rgba(1,1,1,0);border:none;width:60px;cursor: pointer;" disabled>
                                            </cite>
                                        </p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>每个仓库货架数</h3>
                                        <p>
                                            <cite>
                                                <input class="inp" id="user" name="username" value="" placeholder='10' style="background-color:rgba(1,1,1,0);border:none;width:60px;cursor: pointer;" disabled>
                                            </cite>
                                        </p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>机器人总数</h3>
                                        <p>
                                            <cite>
                                                <input class="inp" id="user" name="username" value="" placeholder='13' style="background-color:rgba(1,1,1,0);border:none;width:60px;cursor: pointer;" disabled>
                                            </cite>
                                        </p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>当前货物总量</h3>
                                        <p>
                                            <cite>
                                                <input class="inp" id="totalAmount" name="username" value="" placeholder='173' style="background-color:rgba(1,1,1,0);border:none;width:60px;cursor: pointer;" disabled>
                                            </cite>
                                        </p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>货物种类</h3>
                                        <p>
                                            <cite>
                                                <input class="inp" id="user" name="username" value="" placeholder='5' style="background-color:rgba(1,1,1,0);border:none;width:60px;cursor: pointer;" disabled>
                                            </cite>
                                        </p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>最近一次记录时间</h3>
                                        <p>
                                            <cite>
                                                <input class="inp" id="latestDate" name="username" value="" placeholder='2022-08-01' style="background-color:rgba(1,1,1,0);border:none;width:200px;cursor: pointer;" disabled>
                                            </cite>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">

                    <div class="layui-col-md6" style="height:897px;width:69%">
                        <div class="layui-card" >
                            <div class="layui-card-header">仓储货物量与比例随时间变化情况
                            </div>
                            <div class="layui-card-body" style="min-height: 842px;">
                                <li id="block1" class="layui-col-sm12"style="height: 840px;"></li>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6"style="height:284px;width:30.4%; margin-left:0.6%">
                        <div class="layui-card" >
                            <div class="layui-card-header">仓储货物同比变化情况
                            </div>
                            <div class="layui-card-body" style="min-height: 240px;">
                                <button type="button" id="btn1" class="choose" style="cursor:pointer">相比昨天</button>
                                <button type="button" id="btn2" class="choose" style="cursor:pointer">相比上周</button>
                                <button type="button" id="btn3" class="choose" style="cursor:pointer">相比上个月</button>
                                <div id="block2_1" class="layui-col-sm12"style="height: 195px; width: 100%;"></div>
                                <div id="block2_2" class="layui-col-sm12"style="height: 195px; width: 100%;"></div>
                                <div id="block2_3" class="layui-col-sm12"style="height: 195px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6"style="height:585px;width:30.4%;margin-left:0.6%; margin-top:2%">
                        <div class="layui-card" >
                            <div class="layui-card-header">机器人最新数据同步简短记录
                            </div>
                            <div class="layui-card-body" style="min-height: 530px;">
                                <table class="layui-table layui-form" id="table" style="width:94%;margin-left: 3%;height:100%">
                                    <thead>
                                        <tr>
                                            <th>仓库号</th>
                                            <th>货架号</th>
                                            <th>货物仓储量</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>        
    </body>


    <script>
        // 处理表格数据
        var tableData=[1, ["A", 2, 0, 0, 0, 0], ["B", 0, 1, 1, 0, 0], ["C", 0, 0, 0, 1, 3], ["D", 0, 2, 0, 0, 0],["E", 0, 0, 2, 0, 0],
                        ["F", 1, 0, 0, 0, 0], ["G", 0, 0, 1, 2, 3], ["H", 0, 0, 0, 0, 0], ["I", 1, 0, 2, 0, 0],["J", 1, 1, 1, 1, 1],
                        ["all", 5, 4, 7, 4, 7]];
        var table = document.getElementById("table");
        for(let i=1;i<10;i++){
        let totalShelf = tableData[i][1]+tableData[i][2]+tableData[i][3]+tableData[i][4]+tableData[i][5];
            table.innerHTML += "<tr>\n" +
            "<td>"+tableData[0]+"</td>\n" +
            "<td>"+tableData[i][0]+"</td>\n" +
            "<td>"+totalShelf+"</td>\n" +
            "</tr>";
        }
        for(let i=1;i<4;i++){
            var min=2
            var max=11;
            var random=Math.floor(Math.random()*max-min+1)+min
            table.innerHTML += "<tr>\n" +
            "<td>"+3+"</td>\n" +
            "<td>"+tableData[i][0]+"</td>\n" +
            "<td>"+random+"</td>\n" +
            "</tr>";
        }
    </script>


    

    <script src="../../static/js/echarts.js"></script>
    <script src="../../static/js/style.js"></script>


    <script>
        // 数据总天数
        var numberOfTheDate = 31;

        //显示某年某月某日
        function getForecastTime(date) {
            date = new Date(date);
            var nDate = date.getFullYear() + "年";
            nDate+=date.getMonth() + 1 + "月" + date.getDate() + "日";
            return nDate;
        }

        //日期变化
        function dateChange(date) {
            // debugger;
            if (!date) {
                date = new Date();//没有传入值时,默认是当前日期
            }
            date = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
            date += " 00:00:00";//设置为当天凌晨12点
            date = Date.parse(new Date(date))/1000;//转换为时间戳
            date -= (86400);//修改后的时间戳
            var newDate = new Date(parseInt(date) * 1000);//转换为时间
            // console.log(newDate);
            return newDate;
        }

        // 数组里面的日期格式
        function showDate(newDate){
            // return newDate.getFullYear() + '.' + (newDate.getMonth() + 1) + '.' + newDate.getDate();
            return (newDate.getMonth() + 1) + '-' + newDate.getDate();
        }

        // 创建假数据
        function creatData(){
            var dateData=[]
            var mydate = new Date();
            console.log(mydate);

            for(let i=0;i<numberOfTheDate;i++){
                dateData.unshift(showDate(mydate));
                mydate=dateChange(mydate);
                showDate(mydate);
            }
            dateData.unshift('日期');
            // console.log(dateData);
            var dataset=[dateData];
            let gArray=['货物类别1','货物类别2','货物类别3','货物类别4','货物类别5']
            for(let i=0;i<gArray.length;i++){
                let gdata=[gArray[i]]
                for(let j=0;j<numberOfTheDate;j++){
                    var min=20;
                    var max=65;
                    var random=Math.floor(Math.random()*max-min+1)+min;
                    gdata.push(random);
                }
                dataset.push(gdata);
            }
            console.log(dataset);
            var a=173-dataset[1][numberOfTheDate]-dataset[2][numberOfTheDate]-dataset[3][numberOfTheDate]-dataset[4][numberOfTheDate]
            if(a>0){
                dataset[5][numberOfTheDate]=a;
            }
            return dataset;
        }

        var data=creatData();
    </script>



    <!-- <script>
        today=new Date()
        document.querySelector('#latestDate').value=(today.getMonth() + 1) + '-' + today.getDate()
    </script> -->





    <script type="text/javascript">
        // 左边的图片生成
        function graph1(){       
            var myChart = echarts.init(document.getElementById('block1'),'blue');
            var option = {
                baseOption:{
                    // title: {
                    //     text: 'Bar Chart with Negative Value'
                    // },
                    legend: {},
                    tooltip: {
                        trigger: 'axis',
                        showContent: false
                    },
                    dataset: {
                        source: data                            
                    },
                    xAxis: {type: 'category',boundaryGap: false,},
                    yAxis: {gridIndex: 0},
                    grid: { width:'90%', height:'40%',top: '55%',left:'5%'},
                    series: [
                        {type: 'line', seriesLayoutBy: 'row'},
                        {type: 'line', seriesLayoutBy: 'row'},
                        {type: 'line', seriesLayoutBy: 'row'},
                        {type: 'line', seriesLayoutBy: 'row'},
                        {type: 'line', seriesLayoutBy: 'row'},
                        {type: 'line', seriesLayoutBy: 'row'},
                        {type: 'line', seriesLayoutBy: 'row'},
                        {type: 'line', seriesLayoutBy: 'row'},
                        {
                            type: 'pie',
                            id: 'pie',
                            radius: ['25%', '43%'],
                            center: ['50%', '30%'],
                            label: {
                                formatter: '{b}: {@2012} ({d}%)'
                            },
                            encode: {
                                itemName: '日期',
                                value: '7-31',//此处设置初始化时默认的Y轴起点，否则初始化渲染图表的时候，左边的饼状图会是空白
                                tooltip: '7-31',//此处设置初始化时默认的Y轴起点，否则初始化渲染图表的时候，左边的饼状图会是空白
                            }
                        }
                    ]
                },
                media: [                    
                ]
            };
            myChart.on('updateAxisPointer', function (event) {
                var xAxisInfo = event.axesInfo[0];
                if (xAxisInfo) {
                    var dimension = xAxisInfo.value + 1;
                    myChart.setOption({
                        series: {
                            id: 'pie',
                            label: {
                                formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                            },
                            encode: {
                                value: dimension,
                                tooltip: dimension
                            }
                        }
                    });
                }
            });
            myChart.setOption(option);
        }
        graph1();
    </script>



    <script type="text/javascript">
        // 根据选项卡的不同为右上图表设置不同的数据
        function getOption(i){
            option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                type: 'shadow'
                }
            },
            grid: { width:'80%', height:'90%',top: '5%',left:'10%'},
            xAxis: {                
                type: 'category',
                axisLine: { show: false },
                axisLabel: { show: false },
                axisTick: { show: false },
                splitLine: { show: false },
                data: [
                '类别1',
                '类别2',
                '类别3',
                '类别4',
                '类别5',
                '总量',
                ]
                // data: [
                // 'g1',
                // 'g2',
                // 'g3',
                // 'g4',
                // 'g5',
                // '货物总量',
                // ]
            },
            yAxis: {
                type: 'value',
                position: 'top',
                splitLine: {
                lineStyle: {
                    type: 'dashed'
                }
                }
            },
            series: [
                {
                name: '仓储变化量：',
                type: 'bar',
                stack: 'Total',
                label: {
                    show: true,
                    formatter: '{b}'
                },
                data: [
                    data[1][data[1].length-1]-data[1][data[1].length-1-i],
                    data[2][data[2].length-1]-data[2][data[2].length-1-i],
                    data[3][data[3].length-1]-data[3][data[3].length-1-i],
                    data[4][data[4].length-1]-data[4][data[4].length-1-i],
                    data[5][data[5].length-1]-data[5][data[5].length-1-i],
                    data[1][data[1].length-1]-data[1][data[1].length-1-i]+data[2][data[2].length-1]-data[2][data[2].length-1-i]+data[3][data[3].length-1]-data[3][data[3].length-1-i]+data[4][data[4].length-1]-data[4][data[4].length-1-i]+data[5][data[5].length-1]-data[5][data[5].length-1-i],
                ]
                }
            ]
            };
            return option;
            console.log(option);
        }


        // 和上一天的差
        function graph2_1(){
            var myChart = echarts.init(document.getElementById('block2_1'),'blue');
            const labelRight = {
                position: 'right'
            };
            myChart.setOption(getOption(1));
        }
        // 和上周的差
        function graph2_2(){
            var myChart = echarts.init(document.getElementById('block2_2'),'blue');
            const labelRight = {
                position: 'right'
            };
            myChart.setOption(getOption(7));
        }
        // 和上个月的差
        function graph2_3(){
            var myChart = echarts.init(document.getElementById('block2_3'),'blue');
            const labelRight = {
                position: 'right'
            };
            myChart.setOption(getOption(30));
        }
        // graph2_1();
        // graph2_2();
        // graph2_3();
    </script>



    <script>
        document.querySelector('#block2_2').style.display = 'none';
        document.querySelector('#block2_3').style.display = 'none';
        // document.querySelector('#block2_1').style.display = 'none';
        document.querySelector('#block2_1').style.display = 'block';
        graph2_1();


        document.querySelector('#btn1').onclick = () => {
        document.querySelector('#block2_2').style.display = 'none';
        document.querySelector('#block2_3').style.display = 'none';
        document.querySelector('#block2_1').style.display = 'block';
        // graph2_1();
        }

        document.querySelector('#btn2').onclick = () => {
        document.querySelector('#block2_1').style.display = 'none';
        document.querySelector('#block2_3').style.display = 'none';
        document.querySelector('#block2_2').style.display = 'block';
        graph2_2();
        }

        document.querySelector('#btn3').onclick = () => {
        document.querySelector('#block2_2').style.display = 'none';
        document.querySelector('#block2_1').style.display = 'none';
        document.querySelector('#block2_3').style.display = 'block';
        graph2_3();
        }
    </script>



</html>