<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="../../static/img/BUPT.ico" type="image/x-icon"/>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="../CSS/logIn.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename = '/CSS/logIn.css') }}">
    <!-- <link rel="stylesheet" href="../CSS/common.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login/index.css') }}"> -->
    <title>仓库管理系统登录</title>
</head>
<!-- <body> -->
<body background="../../static/img/background2.jpg"
style=" background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
    <header>
		<div class="logo">
			<img src="../../static/img/QMUL.jpg" alt="北京邮电大学logo"/>
            <img src="../../static/img/BUPT.png" alt="北京邮电大学logo"/>
            <!-- <image src="../img/BUPT1.png" alt="北京邮电大学logo" class="logo-image vertical-center"> -->
			<!-- <h1 class="vertical-center">仓库管理系统</h1> -->
		</div>
	</header>
    <div class="container">
        <div class="header">
            <header>用户登陆</header>
        </div>
        <div class="content">
            <div>
                <input class="inp" type="text" name="id" id="id" value="" placeholder="账号">
                <br>
                <br>
                <input class="inp" type="password" name="pwd" id="pwd" value="" placeholder="密码">
                <br>
                <br>
                <label for="a" class="forget" style="cursor: pointer">忘记密码？</label>
                <br>
                <br>
                <input class="but" type="submit" style="cursor: pointer" value="登录">
            </form>
        </div>
    </div>
    <script>
        document.querySelector('.but').onclick= () => {
            let requireData = {
                'type': 'login', 'id':document.querySelector('#id').value, 'pwd': document.querySelector('#pwd').value
            }


            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://127.0.0.1:5000/user", true);
            xhr.setRequestHeader('content-type', 'application/json');

            //将用户输入值序列化成字符串
            xhr.send(JSON.stringify(requireData));
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log(JSON.stringify(requireData))
                    //根据服务器的响应内容格式处理响应结果
                    var res = JSON.parse(xhr.responseText);
                    console.log(xhr.responseText);
                    console.log(res)
                    if (res.status === 0){
                        console.log(res.result[0])
                        localStorage.setItem('workerId', res.result[0])
                        localStorage.setItem('fName', res.result[1])
                        localStorage.setItem('lName', res.result[2])
                        localStorage.setItem('doB', res.result[3])
                        localStorage.setItem('gender', res.result[4])
                        localStorage.setItem('pwd', res.result[5])
                        localStorage.setItem('managerId', res.result[6])
                        location.href = '../home'
                    }else if (body.status === 101) {
                        alert('密码错误')
                    } else if (body.status === 102) {
                        alert('账号不存在')
                    } else {
                        alert('登录失败')
                    }

                }
            }

        }

        document.querySelector('.forget').onclick = () => {
            location.href = './login/changePwd'
        }
    </script>
    <!-- <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script> -->
</body>
</html>