<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="../img/BUPT.ico" type="image/x-icon"/>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/records.css">

    <link rel="stylesheet" href="../CSS/layui/font.css">
    <link rel="stylesheet" href="../CSS/layui/xadmin.css">
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'css/records/index.css') }}"> -->
    <title>数据查询</title>
</head>

<body>
    <header>
        <button class="now" style="margin-left:5px;cursor: pointer">当前仓库信息</button>
        <button class="interval" style="margin-left:10px;cursor: pointer">一段时间内仓库信息</button>
        <!-- <button class="user">个人信息</button> -->
    </header>
    <main>
        <div class="info">
            <div class="houseid">
                <label for="">仓库号 (houseId):</label>
                <input type="text" id="houseid">
            </div>
            <div class="time">
                <label for="">查询时间段：</label>
                <label for="" class="from">from</label>
                <input type="datetime-local" name="from" id="from">
                <label for="" class="to">to</label>
                <input type="datetime-local" name="to" id="to">
            </div>
            <button class="reseach" style="margin-right:50px;">查找</button>
            <!-- <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" lay-submit="" lay-filter="sreach">
                    <i class="layui-icon">&#xe615;</i></button>
            </div> -->
        </div>
        <div class="layui-card-header">
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i
                    class="layui-icon"></i>批量删除</button>
            <!-- <button class="layui-btn" onclick="xadmin.open('添加用户','./recordAdd.html',600,400)"><i
                    class="layui-icon"></i>添加</button> -->
        </div>
        <table>
        </table>
    </main>
    <script>
        let isNow = true
        let nowObj = document.querySelector('.now')
        let intervalObj = document.querySelector('.interval')
        // let userBtn = document.querySelector('.user')
        let houseidInp = document.querySelector('#houseid')
        let timeObj = document.querySelector('.time')
        let fromInp = document.querySelector('#from')
        let toInp = document.querySelector('#to')
        let reseachBtn = document.querySelector('.reseach')
        let tableObj = document.querySelector('table')

        let title = `
            <tr>
                <th>datetime</th>
                <th>houseId</th>
                <th>shelfNo</th>
                <th>position</th>
                <th>recordNo</th>
                <th>g1</th>
                <th>g2</th>
                <th>g3</th>
                <th>g4</th>
                <th>g5</th>
            </tr>
            `
        let temple = `
            <tr>
                <td>{{_datetime}}</td>
                <td>{{_houseId}}</td>
                <td>{{_shelfNo}}</td>
                <td>{{_position}}</td>
                <td>{{_recordNo}}</td>
                <td>{{_g1}}</td>
                <td>{{_g2}}</td>
                <td>{{_g3}}</td>
                <td>{{_g4}}</td>
                <td>{{_g5}}</td>
            </tr>
        `

        // userBtn.innerHTML = localStorage.getItem("workerId")

        tableObj.innerHTML = title

        nowObj.onclick = () => {
            isNow = true
            timeObj.style.display = 'none'
            tableObj.innerHTML = title
        }

        intervalObj.onclick = () => {
            isNow = false
            timeObj.style.display = 'block'
            tableObj.innerHTML = title
        }

        // userBtn.onclick = () => {
        //     location.href = '../changeInfo'
        // }

        function generInnerHtml(data, result) {
            let charArr = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
            for (let i = 0; i < charArr.length; i++) {
                let item = temple
                    .replace('{{_datetime}}', data['datetime'])
                    .replace('{{_houseId}}', data['houseId'])
                    .replace('{{_shelfNo}}', data[charArr[i]]['shelfNo'])
                    .replace('{{_position}}', data[charArr[i]]['position'])
                    .replace('{{_recordNo}}', data[charArr[i]]['recordNo'])
                    .replace('{{_g1}}', data[charArr[i]]['g1'])
                    .replace('{{_g2}}', data[charArr[i]]['g2'])
                    .replace('{{_g3}}', data[charArr[i]]['g3'])
                    .replace('{{_g4}}', data[charArr[i]]['g4'])
                    .replace('{{_g5}}', data[charArr[i]]['g5'])
                result += item
            }
            return result
        }

        reseachBtn.onclick = () => {
            if (isNow) {
                let requireData = {
                    type: 'now',
                    houseId: houseidInp.value
                }

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "http://127.0.0.1:5000/inquire", true);
                xhr.setRequestHeader('content-type', 'application/json');

                //将用户输入值序列化成字符串
                xhr.send(JSON.stringify(requireData));
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        //根据服务器的响应内容格式处理响应结果
                        var res = JSON.parse(xhr.responseText);
                        console.log(res)
                        if (res.status === 0) {
                            let data = res.result
                            console.log(data['C']['g1'])
                            let newInnerHTML = generInnerHtml(data, title)
                            tableObj.innerHTML = newInnerHTML
                        } else {
                            alert('未查询到相关记录')
                        }
                    } else {
                        alert('查询失败')
                    }
                }

                // fetch('http://127.0.0.1:5000/inquire', {
                //     method: 'post',
                //     body: JSON.stringify(requireData)
                // }).then(res => {
                //     let body = JSON.parse(res.body)
                //     if (body.status === 0) {
                //         let data = body.result
                //         let newInnerHTML = generInnerHtml(data, title)
                //         tableObj.innerHTML = newInnerHTML
                //     } else {
                //         alert('未查询到相关记录')
                //     }
                // }).catch(reason => {
                //     alert('数据请求失败')
                // })
            } else {

                let requireData = {
                    'type': 'interval',
                    'houseId': houseidInp.value,
                    'from': fromInp.value,
                    'to': toInp.value
                }

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "http://127.0.0.1:5000/inquire", true);
                xhr.setRequestHeader('content-type', 'application/json');

                //将用户输入值序列化成字符串
                xhr.send(JSON.stringify(requireData));
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log(res)
                        //根据服务器的响应内容格式处理响应结果
                        var res = JSON.parse(xhr.responseText);
                        if (res.status === 0) {
                            let data = res.result
                            let newInnerHTML = title
                            for (let i = 0; i < data.length; i++) {
                                newInnerHTML = generInnerHtml(data[i], newInnerHTML)
                            }
                            tableObj.innerHTML = newInnerHTML
                        } else {
                            alert('未查询到相关记录')
                        }
                    } else {
                        alert('查询失败')
                    }
                }


//                 let requireData = {
//                     'type': 'interval',
//                     'houseId': houseidInp.value,
//                     'from': fromInp.value,
//                     'to': toInp.value
//                 }
//                 fetch('http://127.0.0.1:5000/inquire', {
//                     method: 'post',
//                     body: JSON.stringify(requireData)
//                 }).then(res => {
//                     let body = JSON.parse(res.body)
//                     if (body.status === 0) {
//                         let data = body.result
//                         let newInnerHTML = title
//                         for (let i = 0; i < data.length; i++) {
//                             newInnerHTML = generInnerHtml(data[i], newInnerHTML)
//                         }
//                         tableObj.innerHTML = newInnerHTML
//                     } else {
//                         alert('未查询到相关记录')
//                     }
//                 }).catch(reason => {
//                     alert('数据请求失败')
//                 })

            }
            

        }

    </script>
</body>

</html>