<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="../../static/img/BUPT.ico" type="image/x-icon"/>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="../../static/CSS/records.css"> -->

        <link rel="stylesheet" href="../../static/CSS/layui/font.css">
        <link rel="stylesheet" href="../../static/CSS/layui/xadmin.css">
        <script src="../../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../../static/js/xadmin.js"></script>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'css/records/index.css') }}"> -->
        <title>数据查询</title>
    </head>

    <body>
        <div class="x-nav" style="width:98%">
        <!-- <div class="x-nav"> -->
            <span class="layui-breadcrumb">
                <a href="">主界面</a>
                <a href="">机器人管理</a>
                <a><cite>数据传输</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px; top:50%; margin:auto;"></i>
            </a>
        </div>



        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card" text-align: center>

                        <div>
                            <br/>
                            <h1 align="center" margin-top: 50px>机器人数据传输记录</h1>
                        </div>


                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <!-- <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username" placeholder="请输入仓库号" autocomplete="off" class="layui-input" id="houseidText">
                                </div> -->
                                <div class="layui-inline layui-show-xs-block" style="text-align: center;">
                                    <button type="button" class="layui-btn" lay-submit="" lay-filter="sreach" id="reseach" >点击查询
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>


                        <!-- 表格 -->
                        <div class="layui-card-body ">
                            <table class="layui-table" id="demo" lay-filter="test"></table>
                            <!-- <table class="layui-hide" id="demo" lay-filter="test"></table> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>



    
    <script type="text/html" id="toolbarDemo">
        <!-- 头工具栏按钮 -->
        <div class = "layui-btn-container" >
            <!-- <button class="layui-btn layui-btn-sm" lay-event="getData">获取当前页数据</button> -->
            <!-- <button class="layui-btn" lay-event="getData">获取当前页数据</button> -->
            <button class = "layui-btn" lay-event = "getCheckData" > 获取选中行数据 </button>
            <button class="layui-btn" lay-event="getCheckLength">获取选中数目</button> 
            <button class = "layui-btn" lay-event = "isAll" > 验证是否全选</button>
            <button class="layui-btn" onclick="xadmin.open('添加用户','./recordAdd.html',800,600)">
                <i class="layui-icon"></i>添加</button>
            <button class="layui-btn layui-btn-danger" lay-event ="delAll">
                <i class="layui-icon"></i>批量删除</button>
        </div > 
    </script>


    <script>
        //头工具栏事件
        layui.use('table',
            function() {
                var table = layui.table;
                table.on('toolbar(test)',
                function(obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 条记录');
                        break;
                    case 'isAll':
                        layer.msg(checkStatus.isAll ? '已全选': '未全选');
                        break;
                    case 'delAll':
                        layer.confirm('确认要删除吗？', function(index){
                            // table.checkStatus(obj.config.id).data.del();
                            $(".layui-form-checked").not('.header').parents('tr').remove();
                            layer.close(index);
                            layer.msg('已删除!', {
                                icon: 1,
                                time: 1000
                            });
                        }
                        
                        );
                        break;
                    };
                });
            }
        );
    </script>
    

    <script type="text/html" id="btn">
        <!-- 这是表格每行的按钮，要绑在表格上，然后匹配事件 -->
        <!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a> -->
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script>

    </script>
    
    
    <script>
        // 根据给出的数据a来显示表格
        function showTable(a){
        layui.use('table', function(){
            var table = layui.table;
            var b="总计";
            // 直接赋值数据
            table.render({
                elem: '#demo'
                ,cols: [[ //标题栏
                    // {type: 'checkbox', title: '选中', fixed: 'left'},
                    {type: 'checkbox', title: '选中', width:50,},
                    {field: 'transmissionId', title: '记录ID', width: 90, sort: true,},
                    {field: 'receiveTime', title: '记录时间', width: 160,sort: true, edit: 'text'},
                    {field: 'hostIp', title: '设备IP', sort: true, width: 120,},
                    {field: 'houseId', title: '仓库号', sort: true, width: 90,},
                    {field: 'carId', title: '机器人ID', sort: true, width: 120,},
                    // {field: 'recordNo', title: '批次', width: 58, edit: 'text',},
                    {field: 'dataLength', title: '数据长度', width: 150, edit: 'text'},
                    {field: 'receiveStatus', title: '读取状态', width: 150, edit: 'text'},
                    {field: 'writeStatus', title: '写入状态', width: 150, edit: 'text'},
                    // {field: 'g4', title: '物品类别4', width: 150, totalRow: true, edit: 'text'},
                    // {field: 'g5', title: '物品类别5', width: 150, totalRow: true, edit: 'text'},
                    {field: 'button', title: '操作',  toolbar:"#btn",width: 150},
                ]]
                ,data: a
                ,skin: 'row' //表格风格
                ,even: true
                //,size: 'lg' //尺寸
                // ,toolbar: true
                ,toolbar: '#toolbarDemo'
                // ,defaultToolbar: ['filter', 'exports', 'print', 
                // {
                //     title: '帮助'
                //     ,layEvent: 'LAYTABLE_TIPS'
                //     ,icon: 'layui-icon-tips'
                // }]
                ,page: true //是否显示分页
                ,limits: [10,50,500]
                ,limit: 10 //每页默认显示的数量
                ,totalRow: true
                //,loading: false //请求数据时，是否显示loading
            });
            // var $ = layui.jquery, active = {
            //     parseTable: function(){
            //     table.init('parse-table-demo', {
            //         limit: 3
            //     });
            //     }
            //     ,add: function(){
            //     table.addRow('test')
            //     }
            // };
            // $('i').on('click', function(){
            //     var type = $(this).data('type');
            //     active[type] ? active[type].call(this) : '';
            // });
            // $('.layui-btn').on('click', function(){
            //     var type = $(this).data('type');
            //     active[type] ? active[type].call(this) : '';
            // });


            // 每列最右侧的按钮事件
            table.on('tool(test)', function(obj){ // 双击 toolDouble
                var data = obj.data;
                console.log(obj)
                if(obj.event === 'del'){
                    layer.confirm('确认删除本行吗？', function(index){
                        obj.del();
                        layer.close(index);
                        layer.msg('已删除!', {
                                icon: 1,
                                time: 1000
                            });
                    });
                } else if(obj.event === 'edit'){
                    layer.msg('直接点击可以编辑的单元格就可以修改了哦');
                }
            });


            // // 
            // table.on('toolbar(test)', function(obj){
            //     var id = obj.config.id;
            //     var checkStatus = table.checkStatus(id);
            //     var othis = lay(this);
            //     switch(obj.event){
            //         // // tips提示框，但是暂时没能成功
            //         // case 'LAYTABLE_TIPS':
            //         //     layer.alert('Table for layui-v'+ layui.v);
            //         // break;

            //         // // 获取一整页数据，也没能成功
            //         // case 'getData':
            //         //     var getData = table.getData(id);
            //         //     layer.alert(layui.util.escape(JSON.stringify(getData)));
            //         // break;
            //     };
            // });
 

            // 单元格编辑事件
            table.on('edit(test)', function(obj){
                var field = obj.field //得到字段
                ,value = obj.value //得到修改后的值
                ,data = obj.data; //得到所在行所有键值           
                // var update = {};
                // update[field] = value;
                // obj.update(update);
                console.log(data);
                layer.msg('您已将该记录的 ' + field + ' 项数据更改为：' + value);
            });
        });}
    </script>





    <script>
        // 处理服务器端发来的结果数据，变成表格的数据格式，然后塞进showTable函数里面
        function reseachForTable(data){
            var result=[];
            for(let i=0;i<data.length;i++){
                let item = {
                    "transmissionId": data[i]["transmissionId"],
                    "receiveTime": data[i]["receiveTime"], 
                    "hostIp": data[i]["hostIp"], 
                    "houseId": data[i]["houseId"], 
                    "carId": data[i]["carId"], 
                    "dataLength": data[i]["dataLength"], 
                    "receiveStatus": data[i]["receiveStatus"], 
                    "writeStatus": data[i]["writeStatus"],
                };
                
                result.push(item);
            }
            showTable(result)
        }
    </script>


    <script>
        // let houseidInp = document.querySelector('#houseidText')
        let reseachBtn = document.querySelector('#reseach')
        reseachBtn.onclick = () => {
            let requireData = {
                    type: 'trans',
                    // houseId: houseidInp.value
                    }
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "http://127.0.0.1:5000/inquire", true);
                xhr.setRequestHeader('content-type', 'application/json');

                //将用户输入值序列化成字符串
                xhr.send(JSON.stringify(requireData));
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        //根据服务器的响应内容格式处理响应结果
                        var res = JSON.parse(xhr.responseText);
                        console.log(res)
                        if (res.status === 0) {
                            let data = res.result
                        reseachForTable(data)
                    } else {
                        alert('未查询到相关记录')
                    }
                } else {
                    alert('查询失败')
                }
            }
        }

    </script>

    <script>
        var data=[
            // {"transmissionId": 10, "receiveTime": "2022-07-30 20:56:08", "hostIp": "127.0.0.1", "houseId": 1, "carId": "16", "dataLength": 249, "receiveStatus": "success", "writeStatus": "success"},
            {"transmissionId": 9, "receiveTime": "2022-07-30 20:56:08", "hostIp": "127.0.0.1", "houseId": 1, "carId": "16", "dataLength": 249, "receiveStatus": "success", "writeStatus": "success"},
            {"transmissionId": 8, "receiveTime": "2022-07-30 20:56:06", "hostIp": "127.0.0.1", "houseId": 1, "carId": "16", "dataLength": 249, "receiveStatus": "success", "writeStatus": "success"}, 
            {"transmissionId": 7, "receiveTime": "2022-07-30 20:25:42", "hostIp": "127.0.0.1", "houseId": 1, "carId": "16", "dataLength": 249, "receiveStatus": "success", "writeStatus": "success"}, 
            {"transmissionId": 6, "receiveTime": "2022-07-30 20:22:51", "hostIp": "127.0.0.1", "houseId": 1, "carId": "152", "dataLength": 247, "receiveStatus": "success", "writeStatus": "success"},
            {"transmissionId": 5, "receiveTime": "2022-07-30 20:22:49", "hostIp": "127.0.0.1", "houseId": 1, "carId": "152", "dataLength": 247, "receiveStatus": "success", "writeStatus": "success"}, 
            {"transmissionId": 4, "receiveTime": "2022-07-30 20:22:47", "hostIp": "127.0.0.1", "houseId": 1, "carId": "152", "dataLength": 247, "receiveStatus": "success", "writeStatus": "success"}, 
            {"transmissionId": 3, "receiveTime": "2022-07-30 20:22:45", "hostIp": "127.0.0.1", "houseId": 1, "carId": "152", "dataLength": 247, "receiveStatus": "success", "writeStatus": "success"}, 
            {"transmissionId": 2, "receiveTime": "2022-07-30 20:22:01", "hostIp": "127.0.0.1", "houseId": 1, "carId": "152", "dataLength": 247, "receiveStatus": "success", "writeStatus": "success"}, 
            {"transmissionId": 1, "receiveTime": "2022-07-30 17:22:33", "hostIp": "192.168.1.12", "houseId": 1, "carId": "123", "dataLength": 247, "receiveStatus": "success", "writeStatus": "success"},
        ];
        reseachForTable(data)
    </script>
</html>
