<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>关于我们</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <!-- <link rel="stylesheet" href="../CSS/layui/xadmin.css">
        <script src="../lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../js/xadmin.js"></script> -->
        <!-- <link rel="stylesheet" href="../../static/CSS/layui/font.css"> -->
        <link rel="stylesheet" href="../../static/CSS/layui/xadmin.css">
        <script src="../../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../../static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav" style="width:98%">
            <span class="layui-breadcrumb">
                <a href="">主界面</a>
                <a href="">其他信息</a>
                <a><cite>关于我们</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px; top:50%; margin:auto;"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎您的使用!  当前时间为：
                                
                                <!-- <span class="x-red">test</span>！当前时间:2018-04-25 20:50:53 -->           
                                <div id="datetime">
                                    <script>setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);</script>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">系统信息</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>当前版本</th>
                                        <td>1.3.2</td></tr>
                                    <tr>
                                        <th>服务器地址</th>
                                        <td>https://webvpn.bupt.edu.cn      <br/>ssh://10.99.0.20:22</td></tr>
                                    <tr>
                                        <th>操作系统</th>
                                        <td>WINNT</td></tr>
                                    <tr>
                                        <th>运行环境</th>
                                        <td>Apache/2.4.23 (Win32) OpenSSL/1.0.2j mod_fcgid/2.3.9</td></tr>
                                    <tr>
                                        <th>PHP版本</th>
                                        <td>5.6.27</td></tr>
                                    <tr>
                                        <th>PHP运行方式</th>
                                        <td>cgi-fcgi</td></tr>
                                    <tr>
                                        <th>MYSQL版本</th>
                                        <td>5.5.53</td></tr>
                                    <tr>
                                        <th>ThinkPHP</th>
                                        <td>5.0.18</td></tr>
                                    <tr>
                                        <th>上传附件限制</th>
                                        <td>2M</td></tr>
                                    <tr>
                                        <th>执行时间限制</th>
                                        <td>30s</td></tr>
                                    <!-- <tr>
                                        <th>剩余空间</th>
                                        <td>86015.2M</td></tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">开发团队</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>UI界面版权所有</th>
                                        <td>xuebingsi
                                            <a href="http://x.xuebingsi.com/" target="_blank">访问官网</a><br>
                                            张越凯 2020213666@bupt.edu.cn
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>D&B小学期物联网47组成员</th>
                                        <td>孙锦元，苏可欣，张越凯</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">感谢layui, Echarts, jquery。<br>
                                本系统初版主体界面没有使用任何框架，本版本修改了layui和x-admin的部分内容和风格，并基于此添加了左侧导航栏，进行了对原页面的整合与优化。<br>
                                ajax和动态表格是基于layui和layui官方文档的技术支持制作的<br/>
                                此外，虽然x-admin已经在三年之前就已经停止维护了，并且作者从x-admin获得的支持也较为有限，但仍然感谢x-admin对作者的启发与示范<br>
                                本系统界面仅供学习练习使用，不用于任何商务和盈利用途。如有侵权内容，请发邮件告知作者 2020213666@bupt.edu.cn 张越凯，我会在核实后第一时间排除侵害
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>