
body {
    background: url(../img/v2_rejznc.jpg) center;

}

.container {
    width: 600px;
    height: 400px;
    background-color: #aaa;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -300px;
    font-size: 21px;
    line-height: 0.95;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
}

input {
    width: 400px;
    height: 25px;
    outline: none;
}

#man,#woman {
    width: 70px;
}

.container>div {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.title {
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    width: 150px;
    text-align: right;
    padding-top: 2px;
}

span {
    display: block;
    padding-top: 3px;
}

.back {
    margin-left: 170px;
}

button {
    width: 100px;
    height: 38px;
    background-color: #1890ff;
    border: 0 none;
    color: white;
    margin: 0 20px;
    font-size: 20px;
}